/* title */
.title{
    padding-top: 2rem;
    font-size: 4rem;
    display: flex;
    justify-content: center;
}
/* the div conatining nav */
.nav-home{
    padding-top: 4rem;
    display: flex;
    justify-content: center;

}
/* the li */
.title-li{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    background-color: rgb(43, 167, 47);
    padding: 1rem;
    border-radius: 18px;
}

/* the text in the li */
.title-link{
    text-decoration: none;
    color: black;
}
.title-link:visited{
    color: black;
}


