/* how list is displayed on page */
.country-item{
    list-style: none;
    flex: 1;
    min-width: 200px;
    max-width: 250px;
    height: 115px;
    position: relative;
    
}
/* border */
.country-item{
    outline: 1px solid black;
    border-radius: 38px;
    margin: 20px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.19), 0px 10px 10px rgba(0, 0, 0, 0.23);
   
}

/* align items center in item container */
.country-item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-right: 20px;
}


