.footer {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
    padding:0;
    text-align:center;
    margin:0;
    background-color: black;
    clear: both;
    /* position: relative; */
    bottom: 0;
    width: 100%;
}
  
.copyright {
    margin-top:15px;
    text-align:center;
    font-size:25px;
    color:#aaa;
    margin-bottom:0;
    padding-bottom: 30px;
    padding-top: 30px;

}
